# This is a 'fake' chamber heater that enables bed fans which will stay on until chamber temp is reached
# This is a smarter way to do bed fans since it will slow down and then stop the fans as the chamber
# temp is achieved.
[heater_generic heater_chamber]
heater_pin: PB12 # this is the fan pin that controls bed fans
sensor_type: ATC Semitec 104GT-2 
sensor_pin: EBBCan:gpio27 # this is a chamber thermistor


#Do not touch pid info or anything below here
control: pid 
pid_Kp: 61.470837
pid_Ki: 0.5
pid_Kd: 0
pwm_cycle_time: 0.3
min_temp: 1
max_temp: 110

#Do not touch pid info or anything here
[verify_heater heater_chamber]
max_error: 120
check_gain_time: 120
hysteresis: 50
heating_gain: 1

[fan_generic chamber_heater_fan]
pin: PB11
max_power: 1.0
kick_start_time: 0.5
off_below: 0.1

#heater: heater_chamber
#end 'fake' block



[gcode_macro SET_CHAMBER]
#description: Set chamber heater temperature and control fan (on when heater on, off when heater off)
gcode:
    {% set TEMP = params.TEMP|default(0)|float %}  # Get target temperature, default to 0
    SET_HEATER_TEMPERATURE HEATER=heater_chamber TARGET={TEMP}  # Set heater temp
    {% if TEMP > 0 %}
        SET_FAN_SPEED FAN=chamber_heater_fan SPEED=1.0  # Fan on at full speed
        M117 #Chamber heater ON, Fan ON
    {% else %}
        SET_FAN_SPEED FAN=chamber_heater_fan SPEED=0.0  # Fan off
        M117 #Chamber heater OFF, Fan OFF
    {% endif %}


